<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>This is home page!</h1>

	<a href="/logout">logout</a><br>

	Id: <%= id %> <br>
	username: <%= username %> <br>
	password: <%= password %>

</body>
</html>