<!DOCTYPE html>
<html>
<head>
	<title>login page</title>
</head>
<body>
	<h1>This is home page!</h1>

	<a href="/logout">logout</a><br>

	Name: <%= name %> <br>
	Version: <%= version %> <br>
	Date: <%= obj2.date %>

</body>
</html>